@model rcDominiosDataTransfers.PessoaTipoDataTransfer;

@{
    ViewData["Title"] = "";
}

<div class="areaUtilMed">
    <div class="fonteMedia"><i class="iconeMed fas fa-users"></i>&nbsp;
        <a asp-controller="PessoaTipo" asp-action="Index">Tipo de Pessoa</a> &nbsp;/&nbsp; Filtro
    </div>
    <br>
    <form asp-controller="PessoaTipo" asp-action="Consultar" asp-anti-forgery>
        <div class="form-group">
            <label asp-for="@Model.PessoaTipo.Id" class="txtCampoTitulo">Id</label>
            <input class="form-control campoPeq" type="text" asp-for="@Model.PessoaTipo.Id">
        </div>
        <div class="form-group campoMed">
            <label asp-for="@Model.PessoaTipo.Descricao" class="txtCampoTitulo">Descrição</label>
            <input class="form-control" type="text" asp-for="@Model.PessoaTipo.Descricao">
        </div>
        <div class="form-group campoMed">
            <label asp-for="@Model.PessoaTipo.Codigo" class="txtCampoTitulo">Código</label>
            <input class="form-control" type="text" asp-for="@Model.PessoaTipo.Codigo">
        </div>
        <br>
        <div>
            <button class="btn btn-danger btn-lg" asp-controller="PessoaTipo" asp-action="Consulta"><i class="fas fa-search"></i> 
                    &nbsp;Consultar</button>
            <button class="btn btn-warning btn-lg" asp-controller="PessoaTipo" asp-action="Index"><i class="fas fa-arrow-circle-left"></i> 
                    &nbsp;Voltar</button>
        </div>
    </form>
</div>
