@model rcDominiosDataTransfers.PessoaTipoDataTransfer;

@{
    ViewData["Title"] = "";
}

<div class="areaMaxGrd">
    <div class="txtPadraoGrd"><i class="iconeMed fas fa-users"></i>&nbsp;
        <a class="txtPadraoGrd" asp-controller="PessoaTipo" asp-action="Index">Tipo de Pessoa</a> &nbsp;/&nbsp; Lista
    </div>
    <br>
    <table class="table border-bottom">
        <thead class="thead-dark">
            <tr class="row tabLinha">
                <th class="col">Id</th>
                <th class="col">Descrição</th>
                <th class="col">Código</th>
                <th class="col">Ativo</th>
                <th class="col"></th>
            </tr>
        </thead>
        <tbody>
            @if (@Model.PessoaTipoLista != null) {
                @foreach (var item in @Model.PessoaTipoLista) {
                    <tr class="row tabLinha">
                        <td class="col"><a class="txtPadrao" href="/PessoaTipo/Form/@item.Id">@item.Id</a></td>
                        <td class="col"><a class="txtPadrao" href="/PessoaTipo/Form/@item.Id">@item.Descricao</a></td>
                        <td class="col"><a class="txtPadrao" href="/PessoaTipo/Form/@item.Id">@item.Codigo</a></td>
                        <td class="col"><a class="txtPadrao" href="/PessoaTipo/Form/@item.Id">@(item.Ativo ? "Sim" : "Não")</a></td>
                        <td class="col"><a class="btn btn-primary" href="/PessoaTipo/Form/@item.Id"><i class="fas fa-search-plus"></i> 
                            &nbsp;Detalhe</a></td>
                    </tr>
                }
            }
        </tbody>
    </table>
    <br>
    <div>
        <a href="/PessoaTipo"><button class="btn btn-secondary btn-lg mr-2"><i class="fas fa-arrow-circle-left"></i> 
                    &nbsp;Voltar</button></a>
    </div>
</div>
