@model rcDominiosTransfers.UsuarioTipoTransfer;

@{
    ViewData["Title"] = "";
}

<div class="areaMaxGrd">
    <div class="txtPadraoGrd"><i class="iconeMed fas fa-user-circle"></i>&nbsp;
        <a class="txtPadraoGrd" asp-controller="UsuarioTipo" asp-action="Index">Tipo de Usuário</a> &nbsp;/&nbsp; Lista
    </div>
    <br>
    <form id="form" asp-controller="UsuarioTipo" asp-action="Consulta" asp-anti-forgery method="post">
        @Html.AntiForgeryToken()
        <input type="hidden" asp-for="@Model.Paginacao.PaginaAtual">
        <input type="hidden" asp-for="@Model.Paginacao.RegistrosPorPagina">
        <input type="hidden" asp-for="@Model.Filtro.IdDe">
        <input type="hidden" asp-for="@Model.Filtro.IdAte">
        <input type="hidden" asp-for="@Model.Filtro.Descricao">
        <input type="hidden" asp-for="@Model.Filtro.Codigo">
        <input type="hidden" asp-for="@Model.Filtro.Ativo">
        <input type="hidden" asp-for="@Model.Filtro.CriacaoDe">
        <input type="hidden" asp-for="@Model.Filtro.CriacaoAte">
        <input type="hidden" asp-for="@Model.Filtro.AlteracaoDe">
        <input type="hidden" asp-for="@Model.Filtro.AlteracaoAte">
        @* Se retornou registro(s), mostrar paginação *@
        @if (Model.Paginacao.TotalRegistros > 0) {
            <nav class="navBarra">
                @if (Model.Paginacao.PaginaAtual < 2) {
                    <span class="navCaixaGr">Primeira</span>
                    <span class="navCaixaGr">Anterior</span>
                } else {
                    <a class="txtPadrao" href="javascript:paginar(1);"><span class="botaoGr">Primeira</span></a>
                    <a class="txtPadrao" href="javascript:paginar(@(Model.Paginacao.PaginaAtual - 1));"><span class="botaoGr">Anterior</span></a>
                }
                @if (Model.Paginacao.PaginaInicial > 1 ) {
                    <span class="navCaixaPq">...</span>
                } else {
                    <span class="navCaixaPq"></span>
                }
                @for (int pag = Model.Paginacao.PaginaInicial; pag <= Model.Paginacao.PaginaFinal; pag++)
                {
                    @if (pag == Model.Paginacao.PaginaAtual) {
                        <span class="navCaixaSel">@pag</span>
                    } else {
                        <a class="txtPadrao" href="javascript:paginar(@pag);"><span class="botaoPq">@pag</span></a>
                    }
                }
                @if (Model.Paginacao.PaginaFinal < Model.Paginacao.TotalPaginas) {
                    <span class="navCaixaPq">...</span>
                } else {
                    <span class="navCaixaPq"></span>
                }
                @if (Model.Paginacao.PaginaAtual < Model.Paginacao.TotalPaginas) {
                    <a class="txtPadrao" href="javascript:paginar(@(Model.Paginacao.PaginaAtual + 1));"><span class="botaoGr">Próximo</span></a>
                    <a class="txtPadrao" href="javascript:paginar(@Model.Paginacao.TotalPaginas);"><span class="botaoGr">Última</span></a>
                } else {
                    <span class="navCaixaGr">Próximo</span>
                    <span class="navCaixaGr">Última</span>
                }
            </nav>
        }
        <br>
        <table class="table border-bottom">
            <thead class="thead-dark">
                <tr class="row tabLinha">
                    <th class="col-1">Id</th>
                    <th class="col-5">Descrição</th>
                    <th class="col-2">Código</th>
                    <th class="col-2">Ativo</th>
                    <th class="col-2"></th>
                </tr>
            </thead>
            <tbody>
                @if (@Model.Lista != null) {
                    @foreach (var item in @Model.Lista) {
                        <tr class="row tabLinha">
                            <td class="col-1"><a class="txtPadrao" asp-controller="UsuarioTipo" asp-action="Form" asp-route-id="@item.Id">@item.Id</a></td>
                            <td class="col-5"><a class="txtPadrao" asp-controller="UsuarioTipo" asp-action="Form" asp-route-id="@item.Id">@item.Descricao</a></td>
                            <td class="col-2"><a class="txtPadrao" asp-controller="UsuarioTipo" asp-action="Form" asp-route-id="@item.Id">@item.Codigo</a></td>
                            <td class="col-2"><a class="txtPadrao" asp-controller="UsuarioTipo" asp-action="Form" asp-route-id="@item.Id">@(item.Ativo ? "Sim" : "Não")</a></td>
                            <td class="col-2"><a class="btn btn-primary" asp-controller="UsuarioTipo" asp-action="Form" asp-route-id="@item.Id"><i class="fas fa-search-plus"></i> 
                                &nbsp;Detalhe</a></td>
                        </tr>
                    }
                }
            </tbody>
        </table>
        <div class="divInfo txtEsc">
            <span>@Model.Paginacao.TotalRegistros registro(s)</span> &nbsp; | &nbsp;
            <span>@Model.Paginacao.RegistrosPorPagina registro(s) por página</span> &nbsp; | &nbsp;
            <span>@Model.Paginacao.TotalPaginas página(s)</span>
        </div>
        <br>
        @* Se retornou registro(s), mostrar paginação *@
        @if (Model.Paginacao.TotalRegistros > 0) {
            <nav class="navBarra">
                @if (Model.Paginacao.PaginaAtual < 2) {
                    <span class="navCaixaGr">Primeira</span>
                    <span class="navCaixaGr">Anterior</span>
                } else {
                    <a class="txtPadrao" href="javascript:paginar(1);"><span class="botaoGr">Primeira</span></a>
                    <a class="txtPadrao" href="javascript:paginar(@(Model.Paginacao.PaginaAtual - 1));"><span class="botaoGr">Anterior</span></a>
                }
                @if (Model.Paginacao.PaginaInicial > 1 ) {
                    <span class="navCaixaPq">...</span>
                } else {
                    <span class="navCaixaPq"></span>
                }
                @for (int pag = Model.Paginacao.PaginaInicial; pag <= Model.Paginacao.PaginaFinal; pag++)
                {
                    @if (pag == Model.Paginacao.PaginaAtual) {
                        <span class="navCaixaSel">@pag</span>
                    } else {
                        <a class="txtPadrao" href="javascript:paginar(@pag);"><span class="botaoPq">@pag</span></a>
                    }
                }
                @if (Model.Paginacao.PaginaFinal < Model.Paginacao.TotalPaginas) {
                    <span class="navCaixaPq">...</span>
                } else {
                    <span class="navCaixaPq"></span>
                }
                @if (Model.Paginacao.PaginaAtual < Model.Paginacao.TotalPaginas) {
                    <a class="txtPadrao" href="javascript:paginar(@(Model.Paginacao.PaginaAtual + 1));"><span class="botaoGr">Próximo</span></a>
                    <a class="txtPadrao" href="javascript:paginar(@Model.Paginacao.TotalPaginas);"><span class="botaoGr">Última</span></a>
                } else {
                    <span class="navCaixaGr">Próximo</span>
                    <span class="navCaixaGr">Última</span>
                }
            </nav>
        }
        <br>
        <div>
            <a class="btn btn-secondary btn-lg" asp-controller="UsuarioTipo" asp-action="Index"><i class="fas fa-arrow-circle-left"></i> 
                    &nbsp;Voltar</a>
        </div>
    </form>
</div>

@if (Model != null) {
    @if (Model.Erro || !Model.Validacao) {
        <div class="text-danger">
            @if (Model.Mensagens != null) {
                @section Messages {
                    <ul>
                        @foreach (var msg in Model.Mensagens) {
                            <li class="p-2">@msg</li>
                        }
                    </ul>
                }
            }
        </div>

        @section Scripts {
            <script>
                $('#modalMessages').modal('show');
            </script>
        }
    }
}
