@model rcDominiosTransfers.AutenticaTransfer;

@{
    Layout = "_Identifica";
    ViewData["Title"] = "";
}

<div class="areaUtilGrd">
    <br>
    <div class="txtPadraoGrd">
        Identificação
    </div>
    <br><br>
    <form asp-controller="Dominios" asp-action="Entrar" asp-anti-forgery method="POST">
        <div class="form-row">
            <div class="col-6">
                <div class="form-group">
                    <label class="txtEtiqueta" asp-for="@Model.Apelido">Nome de Usuário</label> &nbsp;
                    <a data-container="body" data-toggle="popover" data-placement="right" data-trigger="hover"
                        data-object-content="#popApelido">
                        <i class="iconePopObr fas fa-asterisk"></i>
                    </a>
                    <div id="popApelido" class="popMsg">
                        &bull; Campo <span class="text-danger"><b>obrigatório</b></span><br>
                        &bull; Tamanho máximo: <b>20</b> caracteres<br>
                        &bull; Caracteres válidos: <b>letras</b> e <b>números</b><br>
                    </div>
                    <input class="form-control" type="text" maxlength="20" asp-for="@Model.Apelido">
                </div>
            </div>
        </div>
        <br>
        <div class="form-row">
            <div class="col-6">
                <div class="form-group">
                    <label class="txtEtiqueta" asp-for="@Model.Senha">Senha</label> &nbsp;
                    <a data-container="body" data-toggle="popover" data-placement="right" data-trigger="hover"
                        data-object-content="#popSenha">
                        <i class="iconePopObr fas fa-asterisk"></i>
                    </a>
                    <div id="popSenha" class="popMsg">
                        &bull; Campo <span class="text-danger"><b>obrigatório</b></span><br>
                        &bull; Tamanho máximo: <b>20</b> caracteres<br>
                        &bull; Caracteres válidos: <b>letras</b>, <b>números</b>, <b>espaço em branco</b> e <b>especiais</b><br>
                    </div>
                    <input class="form-control" type="password" maxlength="20" asp-for="@Model.Senha">
                </div>
            </div>
        </div>
        <br><br>
        <div class="form-row">
            <div class="col-4">
                <button class="btn btn-lg mr-2 btn-success"><i class="fas fa-sign-in-alt"></i> &nbsp;Entrar</button>
            </div>
            <div class="col-2 text-right">
                <a href="javascript:VerCaracs();"><i class="iconeCaracs fas fa-info-circle"></i></a>
                @if (@Model != null) {
                    @if (@Model.Erro || !@Model.Validacao) {
                        <a href="javascript:VerMensagens();"><i class="iconeMsg fas fa-exclamation-circle"></i></a>
                    }
                }
            </div>
            <div class="col-6"></div>
        </div>
    </form>
    <br>
</div>

@if (@Model != null) {
    @if (@Model.Erro || !@Model.Validacao) {
        <div class="text-danger">
            @section Scripts {
                <script>
                    $('#modalMessages').modal('show');
                </script>
            }

            @if (@Model.Erro) {
                @section Messages {
                    <ul>
                        @foreach (var msg in @Model.ErroMensagens) {
                            <li class="p-2">@msg</li>
                        }
                    </ul>
                }
            } else if (!@Model.Validacao) {
                @section Messages {
                    <ul>
                        @foreach (var msg in @Model.ValidacaoMensagens) {
                            <li class="p-2">@msg</li>
                        }
                    </ul>
                }
            }
        </div>
    }
}
